@import url(layout.css);

.content-box {
    display: flex;
    flex-direction: column;
    padding: 1em;
}


.content-box > header {
    align-self: center;
}

.content-box > p {
    text-indent: 2em;
}