body {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 2em 0 3em;
    
}



.column-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex:1;
    position: sticky;
    top: 0;
}

.column-1 div {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.column-1 img {
    height: 150px;
    width: 150px;
    box-shadow: 4px 1px 5px;
}

.column-1 p {
    margin: .2em;
}

.column-1 p:nth-child(1) {
    margin-top: .7em;
}


.column-2 {
    flex: 5;
}

.column-2 h2{
    display: inline-block;
}

.info > li:nth-child(1),
.info > li:nth-child(2),
.info > li:nth-child(3),
.info > li:nth-child(4),
.info > li:nth-child(5) {
    border-top: 1px solid black;
}


.school > ul:nth-child(2), .school > ul:nth-child(3), .school > ul:nth-child(4) {
    padding-bottom: .3em;
}

.school ul > li:first-child {
 font-weight: bold;
}

.skills ul{
    padding-bottom: .3em;
}

.work > ul:nth-child(2), .work > ul:nth-child(3) {
    padding-bottom: .3em;
}

.work ul > li:first-child {
    font-weight: bold;
}

.reference ul > li:first-child {
 font-weight: bold;
}

.reference ul {
    margin-bottom: 1em;
}

.column-3 {
    flex: .7;
}

ul, li {
    margin-bottom: 5px;
}

.heading {
    display: flex;
    flex-direction: column;
    padding: .5em;
    line-height: 1.2;
    box-sizing: border-box;
    border: none;
    border-radius: .5em;
    align-items: center;
    background-color: rgba(171, 243, 37, 0.24);
}

.fullname {
    font-weight: bolder;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    text-decoration: none;
}

a:hover {
    background-color: blue;
}