@import url(layout.css);


form {
    display: flex;
    line-height: 2;
    height: inherit;
}

.row-1 {
    flex: 3;
    height: inherit;
}

.row-2 {
    flex: 1;
    height: inherit;
    display: flex;
    justify-content: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    max-width: 11em;
    font-size: .6em;
    padding: .3em;
}

input[id="age"]{
    width: 3em;
}

label {
    font-size: .7em;
}

select {
    padding: .2em;
    font-size: .7em;
    border-radius: .2em;
    background: hsla(139, 70%, 75%, 1);
    background: linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#95ECB0", endColorstr="#F3F98A", GradientType=1 );
    color: black;
}

.select {
    display: flex;
    background: hsla(139, 70%, 75%, 1);
    background: linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#95ECB0", endColorstr="#F3F98A", GradientType=1 );
    padding: .3em;
    margin-left: .6em;
    margin-top: .6em;
    border-radius: .4em;
    height: auto;
    line-height: 1.3;
}

.heading-label {
    font-weight: bold;
}

.submit {
   margin-top: 10em;
   align-self: flex-end;
}

input[type="submit"]{
    background-color: blue;
    padding: 1em;
    color: white;
    font-size: .6em;
    border: none;
    border-radius: .3em;
    width: 7em;
}