@import url(layout.css);

.content-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-link {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: .6em;
    align-items: center;
    
}

.fb-link > img {
    width: 100%;
    height: auto;
    border-radius: .5em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.fb-link > p {
    margin: 0;
}