@import url(layout.css);

ul {
    display: inline-block;
    line-height: 2;
    border-radius: .7em;
    margin-left: 1em;
    padding-right: 1em;
    list-style:square;
    background: hsla(139, 70%, 75%, 1);
    background: linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#95ECB0", endColorstr="#F3F98A", GradientType=1 );
}

a{
    color: black;
    text-decoration: none;
}

li {
    background-color: rgba(165, 42, 42, 0.144);
    padding: .3em;
    border-radius: 1em;
    margin: .1em 0 .1em 0;
}

li:hover {
    background-color: rgba(255, 68, 0, 0.438);
    padding: .3em;
    border-radius: 1em;
    margin: .3em 0 .3em 0;
    text-decoration: underline;
}

/** {
    box-sizing: border-box;
    border: 1px solid black;
} */